body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-success{
    float:right;
    margin-bottom: 15px;
}
#isLogin{
    display: none;
}
.headPic{
    width: 38px;
    height: 38px;
}
.rvt{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.fytb{
    float:right;
}

