<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>剑杰社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/local.css">
    <script type="application/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="application/javascript" src="js/bootstrap.min.js"></script>
    <script type="application/javascript">
        window.onload = function () {  //判断首页（登录页）是否需要关闭
           // debugger;  //前端打断点的代码
            var closeable = window.localStorage.getItem("closeable");
            if (closeable == "true") {
                window.close();
                window.localStorage.removeItem("closeable");
            }
        };
    </script>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="topbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">剑杰社区</span>
            </button>
            <a class="navbar-brand" href="/">剑杰社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user} == null">  <!--  th:unless="${session.user} != null"-->
                    <a  href="https://github.com/login/oauth/authorize?client_id=8543c922478e7c7fe5ca&redirect_uri=http://localhost:8887/callback&scope=user&state=1">
                        登录
                    </a>
                </li>
                <li class="dropdown"  th:if="${session.user} != null">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.user.getName()}">我</span>
                        <span class="caret" ></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user} != null">
                    <a href="/publish">发布</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main" >
    <div class="row" >
        <!--栅格系统: 随着屏幕或视口尺寸的增加，系统会自动分为最多12列。适应手机、平板、电脑等不同客户端尺寸的需求-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr/>
            <div class="media" th:each="question:${pageMsgDTO.getQuestionList()}">
                <div class="media-left">
                    <a href="#" th:href="${question.getAvatarUrl()}">
                        <img class="img-circle headPic" src="" th:src="${question.getAvatarUrl()}" alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <a href="#" class="media-heading" th:text="${question.getTitle()}" th:href="@{'/question/' + ${question.getId()}}">问题标题</a>
                    <div>
                        <span th:text="${question.getDescription()}">点击浏览</span><br/>
                        <span class="rvt">
                            <span th:text="${question.getCommentCount()}"></span>个回复 • <span th:text="${question.getViewCount()}"></span>次浏览 • <span th:text="${#dates.format(question.getGmtCreate(),'yyyy-MM-dd')}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation ">
                <ul class="pagination fytb">
                    <li th:if="${pageMsgDTO.showFirstPage}">
                        <a href="#" aria-label="Previous" th:href="@{/(page=1)}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageMsgDTO.showPreviousPage}">
                        <a href="#" aria-label="Previous" th:href="@{/(page=${pageMsgDTO.getSelectedPage() - 1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page:${pageMsgDTO.getPages()}" th:class="${pageMsgDTO.getSelectedPage() == page}?'active':''">
                        <a href="#" th:text="${page}" th:href="@{/(page=${page})}" >页码</a>
                    </li>

                    <li th:if="${pageMsgDTO.showNextPage}">
                        <a href="#" aria-label="Next" th:href="@{/(page=${pageMsgDTO.getSelectedPage() + 1})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageMsgDTO.showLastPage}">
                        <a href="#" aria-label="Next" th:href="@{/(page=${pageMsgDTO.totalPage})}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>



</div>



</body>
</html>